In [19]:
import seaborn as sns
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px

In [20]:
pd.set_option('display.max_columns', None)

In [21]:
df=pd.read_excel('DelayedFlights.xlsx')
df.head(5)

,FlightCode,Year,Month,DayofMonth,DayofWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircaftDelay
0,3223256,2018,6,22,7,2225,2014,56.0,2252,UA,288,N448UA,91.0,98.0,74.0,124.0,131,DEN,DSM,589,5.0,12,0,N,0,124.0,0.0,0.0,0.0,0.0
1,3223257,2018,6,23,1,2114,2014,2350.0,2252,UA,288,N838UA,96.0,98.0,82.0,58.0,60,DEN,DSM,589,3.0,11,0,N,0,0.0,0.0,0.0,0.0,58.0
2,3223259,2018,6,25,3,2046,2014,2328.0,2252,UA,288,N456UA,102.0,98.0,76.0,36.0,32,DEN,DSM,589,3.0,23,0,N,0,32.0,0.0,4.0,0.0,0.0
3,3223260,2018,6,26,4,2037,2014,2321.0,2252,UA,288,N403UA,104.0,98.0,81.0,29.0,23,DEN,DSM,589,3.0,20,0,N,0,6.0,0.0,6.0,0.0,17.0
4,3223262,2018,6,28,6,2054,2011,2322.0,2249,UA,288,N405UA,88.0,98.0,73.0,33.0,43,DEN,DSM,589,5.0,10,0,N,0,15.0,0.0,0.0,0.0,18.0

In [22]:
df

,FlightCode,Year,Month,DayofMonth,DayofWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircaftDelay
0,3223256,2018,6,22,7,2225,2014,56.0,2252,UA,288,N448UA,91.0,98.0,74.0,124.0,131,DEN,DSM,589,5.0,12,0,N,0,124.0,0.0,0.0,0.0,0.0
1,3223257,2018,6,23,1,2114,2014,2350.0,2252,UA,288,N838UA,96.0,98.0,82.0,58.0,60,DEN,DSM,589,3.0,11,0,N,0,0.0,0.0,0.0,0.0,58.0
2,3223259,2018,6,25,3,2046,2014,2328.0,2252,UA,288,N456UA,102.0,98.0,76.0,36.0,32,DEN,DSM,589,3.0,23,0,N,0,32.0,0.0,4.0,0.0,0.0
3,3223260,2018,6,26,4,2037,2014,2321.0,2252,UA,288,N403UA,104.0,98.0,81.0,29.0,23,DEN,DSM,589,3.0,20,0,N,0,6.0,0.0,6.0,0.0,17.0
4,3223262,2018,6,28,6,2054,2011,2322.0,2249,UA,288,N405UA,88.0,98.0,73.0,33.0,43,DEN,DSM,589,5.0,10,0,N,0,15.0,0.0,0.0,0.0,18.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88538,3505042,2018,6,19,4,1551,1535,1923.0,1915,AA,1496,N431AA,152.0,160.0,127.0,8.0,16,DFW,MCO,984,5.0,20,0,N,0,NaN,NaN,NaN,NaN,NaN
88539,3505043,2018,6,20,5,1555,1535,1927.0,1915,AA,1496,N441AA,152.0,160.0,132.0,12.0,20,DFW,MCO,984,6.0,14,0,N,0,NaN,NaN,NaN,NaN,NaN
88540,3505044,2018,6,21,6,1555,1535,1917.0,1915,AA,1496,N557AA,142.0,160.0,124.0,2.0,20,DFW,MCO,984,5.0,13,0,N,0,NaN,NaN,NaN,NaN,NaN
88541,3505045,2018,6,22,7,1607,1535,1941.0,1915,AA,1496,N421AA,154.0,160.0,137.0,26.0,32,DFW,MCO,984,5.0,12,0,N,0,1.0,0.0,0.0,0.0,25.0
88542,3505046,2018,6,23,1,1608,1535,1933.0,1915,AA,1496,N487AA,145.0,160.0,129.0,18.0,33,DFW,MCO,984,6.0,10,0,N,0,18.0,0.0,0.0,0.0,0.0

In [23]:
df.isnull().sum() #use drop na to drop null values

FlightCode               0
Year                     0
Month                    0
DayofMonth               0
DayofWeek                0
DepTime                  0
CRSDepTime               0
ArrTime                458
CRSArrTime               0
UniqueCarrier            0
FlightNum                0
TailNum                  0
ActualElapsedTime      458
CRSElapsedTime          29
AirTime                458
ArrDelay               458
DepDelay                 0
Origin                   0
Dest                     0
Distance                 0
TaxiIn                 458
TaxiOut                  0
Cancelled                0
CancellationCode         0
Diverted                 0
CarrierDelay         26250
WeatherDelay         26250
NASDelay             26250
SecurityDelay        26250
LateAircaftDelay     26250
dtype: int64

In [24]:
df.dropna()

,FlightCode,Year,Month,DayofMonth,DayofWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircaftDelay
0,3223256,2018,6,22,7,2225,2014,56.0,2252,UA,288,N448UA,91.0,98.0,74.0,124.0,131,DEN,DSM,589,5.0,12,0,N,0,124.0,0.0,0.0,0.0,0.0
1,3223257,2018,6,23,1,2114,2014,2350.0,2252,UA,288,N838UA,96.0,98.0,82.0,58.0,60,DEN,DSM,589,3.0,11,0,N,0,0.0,0.0,0.0,0.0,58.0
2,3223259,2018,6,25,3,2046,2014,2328.0,2252,UA,288,N456UA,102.0,98.0,76.0,36.0,32,DEN,DSM,589,3.0,23,0,N,0,32.0,0.0,4.0,0.0,0.0
3,3223260,2018,6,26,4,2037,2014,2321.0,2252,UA,288,N403UA,104.0,98.0,81.0,29.0,23,DEN,DSM,589,3.0,20,0,N,0,6.0,0.0,6.0,0.0,17.0
4,3223262,2018,6,28,6,2054,2011,2322.0,2249,UA,288,N405UA,88.0,98.0,73.0,33.0,43,DEN,DSM,589,5.0,10,0,N,0,15.0,0.0,0.0,0.0,18.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88535,3505036,2018,6,13,5,1609,1535,1942.0,1915,AA,1496,N510AA,153.0,160.0,131.0,27.0,34,DFW,MCO,984,7.0,15,0,N,0,27.0,0.0,0.0,0.0,0.0
88536,3505037,2018,6,14,6,1616,1535,1954.0,1915,AA,1496,N559AA,158.0,160.0,136.0,39.0,41,DFW,MCO,984,11.0,11,0,N,0,11.0,0.0,0.0,0.0,28.0
88537,3505040,2018,6,17,2,1617,1535,2002.0,1915,AA,1496,N505AA,165.0,160.0,141.0,47.0,42,DFW,MCO,984,7.0,17,0,N,0,0.0,22.0,5.0,0.0,20.0
88541,3505045,2018,6,22,7,1607,1535,1941.0,1915,AA,1496,N421AA,154.0,160.0,137.0,26.0,32,DFW,MCO,984,5.0,12,0,N,0,1.0,0.0,0.0,0.0,25.0
88542,3505046,2018,6,23,1,1608,1535,1933.0,1915,AA,1496,N487AA,145.0,160.0,129.0,18.0,33,DFW,MCO,984,6.0,10,0,N,0,18.0,0.0,0.0,0.0,0.0

In [25]:
df.isnull().sum()

FlightCode               0
Year                     0
Month                    0
DayofMonth               0
DayofWeek                0
DepTime                  0
CRSDepTime               0
ArrTime                458
CRSArrTime               0
UniqueCarrier            0
FlightNum                0
TailNum                  0
ActualElapsedTime      458
CRSElapsedTime          29
AirTime                458
ArrDelay               458
DepDelay                 0
Origin                   0
Dest                     0
Distance                 0
TaxiIn                 458
TaxiOut                  0
Cancelled                0
CancellationCode         0
Diverted                 0
CarrierDelay         26250
WeatherDelay         26250
NASDelay             26250
SecurityDelay        26250
LateAircaftDelay     26250
dtype: int64

In [26]:
cols_to_drop = ['TailNum','TaxiIn','TaxiOut','CancellationCode','Diverted','CarrierDelay','WeatherDelay','NASDelay','SecurityDelay','LateAircaftDelay']
df.drop(columns=cols_to_drop,inplace=True)
df.head()

,FlightCode,Year,Month,DayofMonth,DayofWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,Cancelled
0,3223256,2018,6,22,7,2225,2014,56.0,2252,UA,288,91.0,98.0,74.0,124.0,131,DEN,DSM,589,0
1,3223257,2018,6,23,1,2114,2014,2350.0,2252,UA,288,96.0,98.0,82.0,58.0,60,DEN,DSM,589,0
2,3223259,2018,6,25,3,2046,2014,2328.0,2252,UA,288,102.0,98.0,76.0,36.0,32,DEN,DSM,589,0
3,3223260,2018,6,26,4,2037,2014,2321.0,2252,UA,288,104.0,98.0,81.0,29.0,23,DEN,DSM,589,0
4,3223262,2018,6,28,6,2054,2011,2322.0,2249,UA,288,88.0,98.0,73.0,33.0,43,DEN,DSM,589,0

In [27]:
def generate_readable_time(data):
    if isinstance(data, int):
        data = list(str(data))
        if len(data) == 4:
            data = f"{data[0]}{data[1]}:{data[2]}{data[3]}"
        elif len(data) == 3:
            data = f"0{data[0]}:{data[1]}{data[2]}"
        elif len(data) == 2:
            data = f"00:{data[0]}{data[1]}"
        elif len(data) == 1:
            data = f"00:0{data[0]}"
        else:
            print(data)
        return data

df['DepTime'].apply(generate_readable_time)
df['CRSDepTime'].apply(generate_readable_time)
# df['ArrTime'].apply(generate_readable_time)
df['CRSArrTime'].apply(generate_readable_time)

0        22:52
1        22:52
2        22:52
3        22:52
4        22:49
         ...
88538    19:15
88539    19:15
88540    19:15
88541    19:15
88542    19:15
Name: CRSArrTime, Length: 88543, dtype: object

In [28]:
df['DepTime']= df['DepTime'].apply(generate_readable_time)
df['CRSDepTime']=df['CRSDepTime'].apply(generate_readable_time)
# df['ArrTime']=df['ArrTime'].apply(generate_readable_time)
df['CRSArrTime']=df['CRSArrTime'].apply(generate_readable_time)
df

,FlightCode,Year,Month,DayofMonth,DayofWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,Cancelled
0,3223256,2018,6,22,7,22:25,20:14,56.0,22:52,UA,288,91.0,98.0,74.0,124.0,131,DEN,DSM,589,0
1,3223257,2018,6,23,1,21:14,20:14,2350.0,22:52,UA,288,96.0,98.0,82.0,58.0,60,DEN,DSM,589,0
2,3223259,2018,6,25,3,20:46,20:14,2328.0,22:52,UA,288,102.0,98.0,76.0,36.0,32,DEN,DSM,589,0
3,3223260,2018,6,26,4,20:37,20:14,2321.0,22:52,UA,288,104.0,98.0,81.0,29.0,23,DEN,DSM,589,0
4,3223262,2018,6,28,6,20:54,20:11,2322.0,22:49,UA,288,88.0,98.0,73.0,33.0,43,DEN,DSM,589,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88538,3505042,2018,6,19,4,15:51,15:35,1923.0,19:15,AA,1496,152.0,160.0,127.0,8.0,16,DFW,MCO,984,0
88539,3505043,2018,6,20,5,15:55,15:35,1927.0,19:15,AA,1496,152.0,160.0,132.0,12.0,20,DFW,MCO,984,0
88540,3505044,2018,6,21,6,15:55,15:35,1917.0,19:15,AA,1496,142.0,160.0,124.0,2.0,20,DFW,MCO,984,0
88541,3505045,2018,6,22,7,16:07,15:35,1941.0,19:15,AA,1496,154.0,160.0,137.0,26.0,32,DFW,MCO,984,0
88542,3505046,2018,6,23,1,16:08,15:35,1933.0,19:15,AA,1496,145.0,160.0,129.0,18.0,33,DFW,MCO,984,0

In [29]:
'''def clean_time(ArrTime):
    if ArrTime== np.nan:
         return np.nan
    if isinstance(ArrTime,str):
        clean_time=' '
    elif isinstance(ArrTime,(float)):
        return int(clean_time)
'''

"def clean_time(ArrTime):\n    if ArrTime== np.nan:\n         return np.nan\n    if isinstance(ArrTime,str):\n        clean_time=' '\n    elif isinstance(ArrTime,(float)):\n        return int(clean_time)\n"

In [30]:
'''df['ArrTime']= df['ArrTime'].apply(clean_time)
df
'''

"df['ArrTime']= df['ArrTime'].apply(clean_time)\ndf\n"

In [31]:
print(df.dtypes)

FlightCode             int64
Year                   int64
Month                  int64
DayofMonth             int64
DayofWeek              int64
DepTime               object
CRSDepTime            object
ArrTime              float64
CRSArrTime            object
UniqueCarrier         object
FlightNum              int64
ActualElapsedTime    float64
CRSElapsedTime       float64
AirTime              float64
ArrDelay             float64
DepDelay               int64
Origin                object
Dest                  object
Distance               int64
Cancelled              int64
dtype: object

In [32]:
# df['ReadDepTime'] = df['DepTime'].apply(generate_readable_time)

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88543 entries, 0 to 88542
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   FlightCode         88543 non-null  int64
 1   Year               88543 non-null  int64
 2   Month              88543 non-null  int64
 3   DayofMonth         88543 non-null  int64
 4   DayofWeek          88543 non-null  int64
 5   DepTime            88543 non-null  object
 6   CRSDepTime         88543 non-null  object
 7   ArrTime            88085 non-null  float64
 8   CRSArrTime         88543 non-null  object
 9   UniqueCarrier      88543 non-null  object
 10  FlightNum          88543 non-null  int64
 11  ActualElapsedTime  88085 non-null  float64
 12  CRSElapsedTime     88514 non-null  float64
 13  AirTime            88085 non-null  float64
 14  ArrDelay           88085 non-null  float64
 15  DepDelay           88543 non-null  int64
 16  Origin             88543 non-null  object
 17  Dest               88543 non-null  object
 18  Distance           88543 non-null  int64
 19  Cancelled          88543 non-null  int64
dtypes: float64(5), int64(9), object(6)
memory usage: 13.5+ MB

In [39]:
df.DepDelay

0        131
1         60
2         32
3         23
4         43
        ...
88538     16
88539     20
88540     20
88541     32
88542     33
Name: DepDelay, Length: 88543, dtype: int64

In [48]:
def get_dep_status(depDelay):
    if isinstance(depDelay, int):
        if depDelay <=0:
            return "On Time"
        elif depDelay > 0 :
            return "Late"
    else:
        return "Cancelled"
    
get_dep_status(np.nan)

'Cancelled'

In [52]:
df['dep_status']=df.DepDelay.apply(get_dep_status)

In [35]:
df.loc[df.ArrDelay.isna(), "arr_status"]="Cancelled"
df.loc[df.ArrDelay <= 0, "arr_status"]="OnTime"
df.loc[df.ArrDelay > 0, "arr_status"]="Late"

C:\Users\aditi\AppData\Local\Temp\ipykernel_13624\2690323883.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Cancelled' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[df.DepDelay.isna(), "dep_status"]="Cancelled"
C:\Users\aditi\AppData\Local\Temp\ipykernel_13624\2690323883.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Cancelled' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[df.ArrDelay.isna(), "arr_status"]="Cancelled"

In [36]:
buzAir = df.groupby(['Origin'])['Origin'].count()
buzAir

Origin
ABE     40
ABI     39
ABQ    207
ABY     17
ACT     27
      ...
TYR     20
TYS    193
VLD     17
VPS    166
XNA    249
Name: Origin, Length: 228, dtype: int64

In [74]:
from datetime import datetime
def dep_delay_in_minute(scheduled, actual):
    t1 = datetime.strptime(scheduled, "%H:%M")
    t2 = datetime.strptime(actual, "%H:%M")
    delta = t2 - t1
    ms = delta.total_seconds() / 60
    return ms

dep_delay_in_minute('20:00','21:20')

80.0